.Commentswrapper{
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 20px;
justify-content: space-around;
background-color: white;
border-radius: 20px;
}

.Pcomment{
    width: 100%;
}

@media only screen and (max-width: 450px) {
    .Commentswrapper{
        height: auto;
        flex-direction: column-reverse;
        align-items: start;
        padding: 10px;
        box-sizing: border-box;
    }
}